.modal_blocker{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.5);

}

.content{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    h1 {
        height: 10%;
    }
    
    
}

.block{
    display: flex;
    flex-direction: column;
}

.label {
    padding-top: 10px
}

.button {
    margin-top: 50px;
}