.inventory_header{
  background: rgb(255, 0, 0);
  display: flex;
  justify-content: end;
}

.button_add {
  margin-top: 0px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #2980b9;
  }
}