.inventory_header{
  height: 7.5vh;
  background: var(--second-background-color);
  display: flex;
  justify-content: end;
  
  .button_add {
    margin-top: 0px;
    padding: 10px 20px;
    background-color: var(--blue);
    color: var(--black);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    
  
    &:hover {
      background-color: var(--blue);
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
