.modal_blocker {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);

}

.content {
  z-index: 999;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--second-background-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    margin-top: 0;

  }
}


.block {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  .label {
    font-size: 20px;
    font-weight: lighter;
    margin: 10px 0px;
    color: var(--black);

    .input {
      border: none;
      background-color: var(--main-background-color);
      margin-top: 5px;
      height: 20px;
      width: 100%;
      max-width: 300px;
      border-radius: 10px;
      font-size: 20px;
      padding: 10px 5px;
      color: var(--black);

      &:focus {
        outline: none;
      }
    }

    textarea {
      min-height: 75px;
      resize: none;
      color: var(--black);
    }

  }
}


.button {
  margin: 20px 0 24px 0;
  padding: 10px 35px;
  background-color: var(--blue);
  color: var(--black);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 24px;

  &:hover {
    background-color: #2980b9;
  }
}