.login_container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  
    h2 {
      text-align: center;
      color: #333;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      label {
        margin-bottom: 10px;
  
        input {
          width: 100%;
          padding: 8px;
          margin-top: 5px;
          border: 1px solid #ccc;
          border-radius: 3px;
          box-sizing: border-box;
        }
      }
  
      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
.password_container {
  max-width: 266px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.button_eye {
  background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: px;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
  
}



