.input_search_container {
    position: relative;
  
    .search_input_field {
      width: 100%;
      box-sizing: border-box;
      position: relative;
      z-index: 2;
    }
  
    .matching_item_container {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      border: 1px solid #ccc;
      z-index: 1;
      
  
      // Optional: Style the matching items within the container
      div {
        padding: 8px;
        border-bottom: 1px solid #eee;
  
        &:last-child {
          border-bottom: none; /* Remove border from the last item for cleaner appearance */
        }
      }
    }
  }