.sidebar {
    width: 15vw;
    max-width: 250px;
    background-color: var(--second-background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;

    .logo_container {
        height: 20vh;
        margin: 25px 0px;
        display: flex;
        justify-content: center;

        .logo {
            height: 20vh;
            display: flex;
            object-fit: contain;
        }

        @media screen and (max-width: 1300px) and (min-width: 975px) {
            .logo {
                height: 15vh;
            }
        }

        @media screen and (max-width: 974px) {
            .logo {
                height: 9vh;
            }
        }
    }

    .navigation_stacks {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top_navigation_list {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            margin: 0;

            .navigation_list_item {
                flex-direction: column;
                cursor: pointer;
                color: var(--black);
                display: flex;
                align-items: center;

                span {
                    font-size: 20px;
                }

                .header {
                    display: flex;
                    flex-direction: row;

                    .navigation_orga_name {
                        color: var(--main-font-color);
                    }

                    .toggle_button {
                        color: var(--blue);
                    }
                }

                .active{
                    background-color: aqua;
                }

                .navigation_orga_options {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    .navigation_orga_options_inventory {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin: 0;
                        padding: 0;

                        .icon {
                            margin: 0 15px 0 0;
                            color: var(--blue);
                        }
                    }
                }
            }
        }

        .bottom_navigation_list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin-bottom: 25px;

            .navigation_list_item {
                color: var(--black);
                display: flex;
                padding: 10px;
                align-items: center;
                cursor: pointer;

                .icon {
                    margin-right: 10px;
                    height: 30px;
                }

                span {
                    font-size: 20px;
                }
            }
        }
    }
}