@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

@media (prefers-color-scheme: light) {
    :root {
        --blue: #1e90ff;
        --main-font-color: #000000;

        --white: #ffffff;
        --black: #000000;

        --divider-color: #d2d2d7;

        --main-background-color: #ffffff;
        --second-background-color: #eaeaea;

        --item-background: #cecece;
      }
}

@media (prefers-color-scheme: dark) {
    :root {
        --blue: #1e90ff;
        --main-font-color: #ffffff;

        --white: #000000;
        --black: #ffffff;

        --divider-color: #d2d2d7;

        --main-background-color: #343434;
        --second-background-color: #202020;

        --item-background: #444444;
      }
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--backgorund);
}