@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

@media (prefers-color-scheme: light) {
    :root {
        --blue: #1e90ff;
        --backgorund: #ffffff;
        --main-font-color: #000000;
      }
}

@media (prefers-color-scheme: dark) {
    :root {
        --blue: #1e90ff;
        --backgorund: #343434;
        --main-font-color: #ffffff;
      }
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--backgorund);
}